<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Buster's Bowling Alley</title>
</head>
<body>
    <div class="wrapper">
        <!-- HEADER -->
        <h1>Buster's Best Bowling Alley</h1>
        <!-- SUB HEAD -->
        <h2>Bet You Can't Bowl A Strike Every Time</h2>
        <div id="content">
        <!-- IMAGES, SMALL SUB HEADS, PARAGRAPHS, LINKS -->
        <img src="http://clipart-library.com/clipart/kc8ndbpMi.htm" alt="Bowling Alley">
        <h3>Address</h3>
        <p>97 Bowling Alley Lane, Boulder CO </p>
    </div>  
</body>
</html>
